<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Verideal\VeridealNet\Api\VeridealApiInterface" type="Verideal\VeridealNet\Model\Service\VeridealApi" />
    <type name="Verideal\VeridealNet\Observer\VeridealSoldQty">
        <arguments>
            <argument name="loggerInterface" xsi:type="object">Psr\Log\LoggerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Verideal\VeridealNet\Controller\Verideal\GetVeridealImage">
        <arguments>
            <argument name="loggerInterface" xsi:type="object">Psr\Log\LoggerInterface\Proxy</argument>
        </arguments>
    </type>
</config>
