<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="verideal_verideal_qty_sold" instance="Verideal\VeridealNet\Observer\VeridealSoldQty" />
    </event>
</config>
